<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,0},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,0},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,300},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,150},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,0},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,450},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,300},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,150},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,0},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,600},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,450},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,300},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,150},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,750},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,600},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,450},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,300},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,900},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,750},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,600},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,450},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1050},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,900},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,750},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,600},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1200},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1050},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,900},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,750},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1350},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1200},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1050},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,900},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1500},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1350},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1200},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,1050},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1650},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1500},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,150}</string>
                <key>spriteSourceSize</key>
                <string>{110,150}</string>
                <key>textureRect</key>
                <string>{{336,1800},{110,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1350},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,1200},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{0,1800},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1650},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1500},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,1350},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{112,1800},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1650},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,1500},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{224,1800},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,150}</string>
                <key>spriteSourceSize</key>
                <string>{112,150}</string>
                <key>textureRect</key>
                <string>{{336,1650},{112,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pocker.png</string>
            <key>size</key>
            <string>{448,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6b61eaab57689dda9b0ccd8e0ccb1eb:627e6561d2231df71378417b42f3137b:99c1a62f32ccf6c88571ee4de2d7af77$</string>
            <key>textureFileName</key>
            <string>pocker.png</string>
        </dict>
    </dict>
</plist>
